<!--<ion-view>
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
    </ion-refresher>

    <h4>On Hold : {{contacts.onHold}} and Lengt {{contacts.selected_length}}</h4>

<!--ng-class="contacts.selectedItem[$index] ? 'noname' : 'selectedItem'"-->
    <!--<div class="list">
      <span ng-repeat="details in contacts.data track by $index" on-hold="contacts.onHoldItem($index)" on-tap="contacts.onTapItem($index)">
      <a class="item item-avatar" ng-class="contacts.selectedItem[$index] ? contacts.selectedItemClass : contacts.noClass" href="#">
        <img ng-src="{{details.img || default_img_path}}">
        <h2>{{details.name}}</h2>
        <p>{{details.description}}</p>
      </a>
      </span>
    </div>

    <button ng-click="contacts.deleteGroup()">Delete Group</button>

  </ion-content>
</ion-view>-->

<h1>Heelo Contacts</h1>
