

<!--
<ion-view view-title="groups">
  <ion-content>
    <!--<button on-hold="groups.check()">Check</button>
    <h1>Groups is there</h1>
    <button ng-click="groups.createGroup()">Create Table</button>

    <br><br>

    <label class="item item-input">
      <span class="input-label">Group Name</span>
      <input type="text" ng-model="groups.groupname">
    </label>

    <button ng-click="groups.createNewGroup(groups.groupname)">Create Group</button>

    <br><br>

    <button ng-click="groups.fetchGroupList()">Group List</button>-->

    <!--<ion-refresher pulling-text="Pull to refresh..." on-refresh="fetchGroups()">
    </ion-refresher>


    <div class="list">
      <span ng-repeat="details in groups.data track by $index">
      <a class="item item-avatar" ui-sref="groupdetails">
        <img ng-src="{{details.img || default_img_path}}">
        <h2>{{details.name}}</h2>
        <p>{{details.description}}</p>
      </a>
      </span>
    </div>

  </ion-content>
</ion-view>-->


